In [5]:
import numpy as np
import pandas as pd

# Data Cleaning:-

In [7]:
df=pd.read_csv('https://github.com/Taj1920/Data-Analysis-Datasets/raw/refs/heads/main/Datasets-Practice/amazon_fires.csv',encoding='ISO-8859-1')
df

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [ ]:
# Remaining column:

In [8]:
d={'ano':'year'}
df.rename(columns=d,inplace=True)
df

      year       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [9]:
d={'ano':'year','mes':'month','estado':'state','numero':'no_of_fire','encontro':'date'}
df.rename(columns=d,inplace=True)
df

      year     month      state no_of_fire      date
0     1998   Janeiro       Acre    0 Fires  1/1/1998
1     1999   Janeiro       Acre    0 Fires  1/1/1999
2     2000   Janeiro       Acre    0 Fires  1/1/2000
3     2001   Janeiro       Acre    0 Fires  1/1/2001
4     2002   Janeiro       Acre    0 Fires  1/1/2002
...    ...       ...        ...        ...       ...
6449  2012  Dezembro  Tocantins        128  1/1/2012
6450  2013  Dezembro  Tocantins         85  1/1/2013
6451  2014  Dezembro  Tocantins        223  1/1/2014
6452  2015  Dezembro  Tocantins        373  1/1/2015
6453  2016  Dezembro  Tocantins        119  1/1/2016

[6454 rows x 5 columns]

In [10]:
df.info

<bound method DataFrame.info of       year     month      state no_of_fire      date
0     1998   Janeiro       Acre    0 Fires  1/1/1998
1     1999   Janeiro       Acre    0 Fires  1/1/1999
2     2000   Janeiro       Acre    0 Fires  1/1/2000
3     2001   Janeiro       Acre    0 Fires  1/1/2001
4     2002   Janeiro       Acre    0 Fires  1/1/2002
...    ...       ...        ...        ...       ...
6449  2012  Dezembro  Tocantins        128  1/1/2012
6450  2013  Dezembro  Tocantins         85  1/1/2013
6451  2014  Dezembro  Tocantins        223  1/1/2014
6452  2015  Dezembro  Tocantins        373  1/1/2015
6453  2016  Dezembro  Tocantins        119  1/1/2016

[6454 rows x 5 columns]>

In [11]:
df.drop_duplicates(inplace=True)
df.head()

   year    month state no_of_fire      date
0  1998  Janeiro  Acre    0 Fires  1/1/1998
1  1999  Janeiro  Acre    0 Fires  1/1/1999
2  2000  Janeiro  Acre    0 Fires  1/1/2000
3  2001  Janeiro  Acre    0 Fires  1/1/2001
4  2002  Janeiro  Acre    0 Fires  1/1/2002

# Changing the data present in a column.

var={'old_data' 'new_data'}
df['col_name'] = df['col_name'] map(var)

In [12]:
df['month'].unique()

array(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype=object)

In [13]:
d={'Janeiro':'January','Fevereiro':'February','Março':'March','Abril':'April','Maio':'May','Junho':'June','Julho':'July','Agosto':'August','Setembro':'September','Outubro':'October','Novembro':'November','Dezembro':'December'}
df['month'] = df['month'].map(d)
df.head()

   year    month state no_of_fire      date
0  1998  January  Acre    0 Fires  1/1/1998
1  1999  January  Acre    0 Fires  1/1/1999
2  2000  January  Acre    0 Fires  1/1/2000
3  2001  January  Acre    0 Fires  1/1/2001
4  2002  January  Acre    0 Fires  1/1/2002

# Removing unwanted data from the column.

In [14]:
df['month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [15]:
df

      year     month      state no_of_fire      date
0     1998   January       Acre    0 Fires  1/1/1998
1     1999   January       Acre    0 Fires  1/1/1999
2     2000   January       Acre    0 Fires  1/1/2000
3     2001   January       Acre    0 Fires  1/1/2001
4     2002   January       Acre    0 Fires  1/1/2002
...    ...       ...        ...        ...       ...
6449  2012  December  Tocantins        128  1/1/2012
6450  2013  December  Tocantins         85  1/1/2013
6451  2014  December  Tocantins        223  1/1/2014
6452  2015  December  Tocantins        373  1/1/2015
6453  2016  December  Tocantins        119  1/1/2016

[6424 rows x 5 columns]

In [16]:
df['no_of_fire'].unique()

array(['0 Fires', '10 Fires', '12 Fires', ..., '2.032', '833', '623'],
      dtype=object)

In [17]:
df['no_of_fire']=df['no_of_fire'].str.strip('Fire')
df

      year     month      state no_of_fire      date
0     1998   January       Acre    0 Fires  1/1/1998
1     1999   January       Acre    0 Fires  1/1/1999
2     2000   January       Acre    0 Fires  1/1/2000
3     2001   January       Acre    0 Fires  1/1/2001
4     2002   January       Acre    0 Fires  1/1/2002
...    ...       ...        ...        ...       ...
6449  2012  December  Tocantins        128  1/1/2012
6450  2013  December  Tocantins         85  1/1/2013
6451  2014  December  Tocantins        223  1/1/2014
6452  2015  December  Tocantins        373  1/1/2015
6453  2016  December  Tocantins        119  1/1/2016

[6424 rows x 5 columns]

In [18]:
# df['name']=df['name'].fillna('unknown')
# df

In [19]:
df['month'] = df['month'].str.upper()
df

      year     month      state no_of_fire      date
0     1998   JANUARY       Acre    0 Fires  1/1/1998
1     1999   JANUARY       Acre    0 Fires  1/1/1999
2     2000   JANUARY       Acre    0 Fires  1/1/2000
3     2001   JANUARY       Acre    0 Fires  1/1/2001
4     2002   JANUARY       Acre    0 Fires  1/1/2002
...    ...       ...        ...        ...       ...
6449  2012  DECEMBER  Tocantins        128  1/1/2012
6450  2013  DECEMBER  Tocantins         85  1/1/2013
6451  2014  DECEMBER  Tocantins        223  1/1/2014
6452  2015  DECEMBER  Tocantins        373  1/1/2015
6453  2016  DECEMBER  Tocantins        119  1/1/2016

[6424 rows x 5 columns]